@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
.selected, .selected:hover {
    color: rgb(255, 200, 200);
}
.select:hover {
    color: rgb(222, 0, 100);
}
.select {
    color: rgb(255, 0, 0);
}
.selectdisabled:hover {
    color: rgb(150, 150, 150);
}
.selectdisabled {
    color: rgb(125, 125, 125);
}
p {
    color: rgb(190, 190, 190);
}
a.cover-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
#news {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.news {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    background-color: transparent;
    color: rgb(190, 190, 190);
    cursor: pointer;
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(255, 255, 255, 0.2);
}
.news:hover {
    color: rgb(190, 190, 190);
    background-color: rgba(255, 255, 255, 0.1);
}
.news_title {
    margin-top: 0px;
    padding-top: 5px;
    margin-left: 20px;
    font-size: 35px;
    font-weight: bold;
}
.news_date {
    margin-left: 25px;
    margin-top: -30px;
    font-size: 15px;
    padding-bottom: 10px;
}
.button {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(190, 190, 190);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin: 0.5em;
    width: 200px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}
.button:link, .button:visited, .button:active {
    color: rgb(190, 190, 190);
}
.button:hover {
    color: rgb(190, 190, 190);
    background-color: rgba(255, 255, 255, 0.1);
}

selector {
    color: value;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.normal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://keishispl.github.io/img/wallpaper/self_drawn.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -10;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-attachment: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.navigation-container {
    overflow: hidden;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
}
p.mid2 {
  overflow: hidden;
  text-align: center;
}

p.mid2::before,
p.mid2::after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
p.mid {
  overflow: hidden;
  text-align: center;
}

p.mid::before,
p.mid::after {
  background-color: gray;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 25%;
}

p.mid::before {
  right: 0.5em;
  margin-left: -50%;
}

p.mid::after {
  left: 0.5em;
  margin-right: -50%;
}
p.mid2 {
  overflow: hidden;
  text-align: center;
  padding: 250px 0px 250px 0px;
}
.nompadding {
  padding: 500px 0px 0px 0px;
}
.toppadding {
  padding: 275px 0px 0px 0px;
}
.smolpadding {
    padding: 150px 0px 0px 0px;
}
.tinypadding {
    padding: 50px 0px 0px 0px;
}
.tinypadding2 {
    padding: 100px 0px 0px 0px;
}
p.mid2::before,
p.mid2::after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
}
p.mid2::before {
  margin-left: -50%;
}

p.mid2::after {
  margin-right: -50%;
}
.leftcentered {
    text-align: center;
}
.leftcentered2 {
    display: inline-block;
    text-align: left;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent;
}

a:link,a:visited,a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    align-items: center;
    position: relative;
    width: auto;
}

td,th {
    padding: 0
}

* {
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ababab;
    overscroll-behavior: none;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: red;
    background-color: transparent;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    border-radius: .3rem;
    transition: color .2s,background-color .2s,border-color .2s
}

.btn:hover {
    color: purple;
    text-decoration: none;
    background-color: transparent;
    border-color: purple;
}

.btn+.btn {
    margin-left: 1rem
}

@media screen and (min-width: 64em) {
    .btn {
        padding:.75rem 1rem
    }
}

@media screen and (min-width: 42em) and (max-width:64em) {
    .btn {
        padding:.6rem .9rem;
        font-size: .9rem
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display:block;
        width: 100%;
        padding: .75rem;
        font-size: .9rem
    }

    .btn+.btn {
        margin-top: 1rem;
        margin-left: 0
    }
}

.main-content {
    word-wrap: break-word
}

.main-content :first-child {
    margin-top: 0
}

@media screen and (min-width: 64em) {
    .main-content {
        max-width:64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem
    }
}

@media screen and (min-width: 42em) and (max-width:64em) {
    .main-content {
        padding:2rem 4rem;
        font-size: 1.1rem
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding:2rem 1rem;
        font-size: 1rem
    }
}

.main-content img {
    max-width: 100%
}

.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #159957
}

.main-content p {
    margin-bottom: 1em
}

.main-content code {
    padding: 2px 4px;
    font-family: Consolas,liberation mono,Menlo,Courier,monospace;
    font-size: .9rem;
    color: #cacaca;
    background-color: #444;
    border-radius: .3rem
}

.main-content pre {
    padding: .8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas,liberation mono,Menlo,Courier,monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: .3rem
}

.main-content pre>code {
    padding: 0;
    margin: 0;
    font-size: .9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: 0 0;
    border: 0
}

.main-content .highlight {
    margin-bottom: 1rem
}

.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.main-content .highlight pre,.main-content pre {
    padding: .8rem;
    overflow: auto;
    font-size: .9rem;
    line-height: 1.45;
    border-radius: .3rem;
    -webkit-overflow-scrolling: touch
}

.main-content pre code,.main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.main-content pre code:before,.main-content pre code:after,.main-content pre tt:before,.main-content pre tt:after {
    content: normal
}

.main-content ul,.main-content ol {
    margin-top: 0
}

.main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: .3rem solid #dce6f0
}

.main-content blockquote>:first-child {
    margin-top: 0
}

.main-content blockquote>:last-child {
    margin-bottom: 0
}

.main-content table {
    display: block;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch
}

.main-content table th {
    font-weight: 700
}

.main-content table th,.main-content table td {
    padding: .5rem 1rem;
    border: 1px solid #e9ebec
}

.main-content dl {
    padding: 0
}

.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700
}

.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem
}

.main-content hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0
}

.site-footer-owner {
    display: block;
    font-weight: 700
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

a.select,
a.selected,
a.selectdisabled {
    text-decoration: none;
    font-size: 16px;
    padding: 5px 15px;
    text-align: center;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.style-command,
.style-command:hover {
    color: rgb(83, 161, 245);
}

.style-aliases,
.style-aliases:hover,
.style-category,
.style-category:hover {
    color: rgb(110, 245, 83);
}

.style-subcommand,
.style-subcommand:hover {
    color: rgb(227, 169, 69);
}

.style-input,
.style-input:hover {
    color: rgb(227, 69, 69);
}

.style-oinput,
.style-oinput:hover {
    color: rgb(214, 69, 227);
}